# API Endpoint
# For local backend testing, uncomment the following:
# VITE_API_URL=http://localhost:8000

# Defaults to production backend on Railway if left unspecified:
VITE_API_URL=https://info-form-production.up.railway.app
